<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Priv.io Results</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>We have analyzed the terms of service.</h2>
    <h1>Here are some important points you should note:</h1>
    {{ tos }}
    {% for category in tos %}
    <div>
        <h2>{{ category }}</h2>
        {% if tos[category]|length > 0 %}
            <table>
                <tr>
                    <th>Weight</th>
                    <th>Text</th>
                </tr>
                {% for item in tos[category] | sort(attribute='weight', reverse=True) %}
                    <tr>
                        <td class="align-middle">
                            {{ item['weight'] }}
                        </td>
                        <td>
                            {{ item['text'] }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No data detected</p>
        {% endif %}
    </div>
    {% endfor %}
</body>
</html>